.card {
    padding-top: 15px;
    margin: auto;
    border: 1px solid #a38a6d !important;
}

.row {
    margin-bottom: 20px;
}

.filter-container {
    width: 60% !important;
    margin-bottom: 50px;
}

.card-text {
    margin-top: 25px !important;
}

#foodList {
    width: 80% !important;
    margin: auto;
}

.badge {
    background-color: #ea8a15 !important;
}

.rating {
    color: #d97904;
}

body{
    background-color: #e2963a26 !important;
}

.carousel {
    max-width: 100%;
    overflow: hidden;
}


.carousel img {
    object-fit: contain;
    max-height: 300px;
}


.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: #e2963a70 !important;
    border-radius: 10px;
}