@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

.cursor {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:25px;'><text y='50%'>🍔</text></svg>")
        16 0, auto;
}


.site-description {
    margin: auto;
    text-align: center;
    width: 50% !important;
    margin-bottom: 80px;
    margin-top: 50px !important;
}


.site-description p {
    font-size: 11px;
    font-weight: bolder;
    text-decoration: underline solid #f38200b7 2.2px;
}


.heading {
    text-align: center;
    margin-top: 50px;
    padding: 25px;
    background-color: #b57e1644;
    border: 3px solid #c5761b !important;
}


.card {
    padding: 25px 10px 10px 10px;
    margin: auto;
    border: 5px dashed #e4ad6d !important;
    border-radius: 0px !important;
}


.place-title {
    font-weight: bolder;
}


body{
    background-color: #eb902129 !important;
}


.heading h1 {
    font-size: 50px;
    font-family: 'SAROIGO', sans-serif;
    font-family: 'Nabla', system-ui;
}


.heading:hover {
    animation: spin 1.2s linear 1;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.map-button {
    border-radius: 0px !important;
    border: 3px solid #d1740a !important;
}


.row {
    margin-bottom: 23px;
}


.row input, #categoryFilter, #ratingSort {
    border: 1px solid #c5761b !important;
}


.filter-container {
    width: 70% !important;
    margin-bottom: -22px;

}


.dropdown button, .dropdown button:hover, .dropdown button:active {
    background-color: #c5761b !important;
    border: 1px solid #c5761b !important;
    border-radius: 0px;
    width: 100%;
};


.form-check-input:checked {
    background-color: #c5761b !important;
}

.show {
    width: 100%;
}


.card-text {
    margin-top: 35px !important;
}


#foodList {
    width: 80% !important;
    margin: auto;
}


.badge {
    background-color: #ea8a15 !important;
    border-radius: 0px !important;
    margin-right: 5px;
}


.rating-title {
    color: #d97904;
    text-decoration: underline;
}

#placesReviewed {
    color: #ff8c00;
}


.carousel {
    max-width: 100%;
    overflow: hidden;
}


.carousel img {
    object-fit: contain;
    max-height: 300px;
}


.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: #e2963a80 !important;
    border-radius: 1px;
}


#searchBar, select {
    border-radius: 0px !important;
}

.places-reviewed {
    color: #c5761b;
    font-weight: bold;
}

footer { 
    text-align: center;
    bottom: 0; 
    left: 0; 
    z-index: 10;
    background-color: #b57e1644;
    padding: 5px;
    margin-top: 50px !important;
    bottom: 0
}


footer a {
    font-size: 20px;
    color: #c5761b !important;
    text-decoration: none;
}


@media screen and (max-width: 600px) {
    .filter-container {
        width: 92% !important;
        margin-bottom: 50px;
    }

    #foodList {
        width: 92% !important;
        margin: auto;
    }
}

.corn-cat {
    width: 40%;
    min-width: 140px;
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.disclaimer {
    font-size: 10px;
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 7.5px; 
}

::-webkit-scrollbar-thumb {
    background: #c47311;
    height: 70px;
    border-radius: 6px;
}